.dailyTasksPage {
    width: 75vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // gap: 10px;
    grid-column: 2/-1;
    padding: 30px;

    .dailyTask {
        display: flex;
        //gap: 10px;
        padding-bottom: 50px;
        width: 60vw;
        justify-content: space-evenly;

        input {
            width: 50vw;
            //height: 3.5rem;
            border: none;
            outline: none;
            padding: 1rem 1.25rem;
            border-radius: 15px;
            font-size: 1.2rem;
            // font-weight: 550;
            letter-spacing: 0.5px;
            background: rgba(0, 0, 0, 0.5);
            color: rgba(255, 255, 255, 0.5);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            // border: 1px solid rgba(255, 255, 255, 0.225);  
        }

        button {
            font-size: 1.3rem;
            padding: 0.7rem 2rem;
            border: none;
            outline: none;
            border-radius: 12px;
            //font-weight: 550;
            color: var(--SecondColor);
            background: rgba(0, 0, 0, 0.5);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            //border: 1px solid rgba(255, 255, 255, 0.225);

            &:hover {
                color: var(--SecondColor);
                background: rgba(74, 74, 74, 0.25);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(4px);
                -webkit-backdrop-filter: blur(4px);
                border-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.18);
            }
        }
    }

    .daily {
        // padding-top: 3rem;
        overflow-y: auto;
        height: 70vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // align-items: flex-start;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }

        li {
            list-style: none;
            padding: 1rem;
            text-align: center;
            width: 45vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--SecondColor);
            background: rgba(0, 0, 0, 0.5);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            margin-bottom: 1rem;

            span {
                font-size: 1.5rem;
            }

            button {
                border: none;
                background-color: transparent;
                color: var(--FirstColor);
                font-size: 1.2rem;
            }
        }
    }
}