.projectPage {
    width: 75vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    grid-column: 2/-1;
    padding: 30px;

    .project {
        display: flex;
        //gap: 10px;
        padding-bottom: 50px;
        width: 60vw;
        justify-content: space-evenly;

        input {
            width: 50vw;
            //height: 3.5rem;
            border: none;
            outline: none;
            padding: 1.5rem;
            border-radius: 15px;
            font-size: 1.3rem;
            font-weight: 550;
            letter-spacing: 0.5px;
            background: rgba(0, 0, 0, 0.5);
            color: rgba(255,255,255,0.5);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            // border: 1px solid rgba(255, 255, 255, 0.225);    
        }

        button {
            height: 5rem;
            width: 5rem;
            font-size: 1.3rem;
            padding: 0.5rem 1rem;
            border: none;
            outline: none;
            border-radius: 12px;
            //font-weight: 550;
            color: rgba(255, 255, 255,0.5);
            background-color: rgba(0, 0, 0, 0.5);
            //border: 1px solid rgba(255, 255, 255, 0.225);
        }
    }

    .projectList {
        width: 50vw;
        height: 4rem;
        grid-column: 2/5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        li {
            list-style: none;
            color: var(--FirstColor);
            text-align: center;
            height: 3rem;
            padding: 1.5rem;
            width: 45vw;
            display: flex;
            //gap: 3rem;
            justify-content: space-between;
            align-items: center;
            // font-size: 1.5rem;

            span{
                font-size: 1.5rem;
                width: 10rem;
                height: 2rem;
                padding:  1rem;
                text-align: center;
            }

            button {
                border: none;
                background-color: transparent;
                color: var(--FirstColor);
                font-size: 1.2rem;
                padding:  1rem;
                width: 5rem;
                height: 2rem;
            }
        }

    }
}