.performance {
    grid-area: performance;
    height: 20rem;
    margin: 0.5rem 1rem 0 0;
    padding: 1rem;
    color: var(--FirstColor);
    background-color: var(--SecondaryBackground);
    border-radius: 1rem;
}