.sidebar-container {
    width: 20rem;
    background-color: var(--SecondaryBackground);
    height: 97%;
    border-radius: 1rem;
    padding: 1.5rem;
    grid-area: sd;
    grid-row: 1 / -1;

    .sidebar-logo {
        font-weight: bold;
        font-size: 1rem;
        color: var(--FirstColor);
    }

    .sidebar-icon {
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        color: var(--FirstColor);
        width: 13rem;
        height: 3rem;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 1rem;
        padding: 0.5rem;
        margin: 1.5rem 0;
        text-decoration: none;

        svg {
            height: 26px;
            width: 26px;
        }

        &:hover,
        &:focus {
            background-color: var(--MainBackground);
            border-radius: 1rem;
            margin: 1.5rem 0;
        }
    }
}