.mainContainer {
    background-color: var(--MainBackground);
    min-height: 100vh;
    height: auto;
    width: 100vw;
    padding: 1rem;
    display: flex;

    .grid {
        display: flex;
        color: var(--FirstColor);
        flex-wrap: wrap;
        margin-left: 1rem;
    }
}