.mainContainer {
    padding: 1rem;
    background-color: var(--MainBackground);
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'sd dailyTasks projects calendar'
    'sd weeklyTasks performance otherTasks';
    justify-content: center;
    align-items: center;

    .sidebar-container {
        width: 20rem;
        background-color: var(--SecondaryBackground);
        min-height: 100%;
        border-radius: 1rem;
        padding: 1.5rem;
        grid-area: sd;
        grid-row: 1 / -1;
        .sidebar-logo {
            font-weight: bold;
            font-size: 1rem;
            color: var(--FirstColor);
        }

        .sidebar-icon {
            background-color: transparent;
            border: none;
            font-size: 1.2rem;
            color: var(--FirstColor);
            width: 13rem;
            height: 3rem;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 1rem;
            padding: 0.5rem;
            margin: 2.5rem 0;

            svg {
                height: 26px;
                width: 26px;
            }

            &:hover,
            &:focus {
                background-color: var(--MainBackground);
                border-radius: 1rem;
                margin: 2.5rem 0;
            }
        }
    }

    .calendar {
        grid-area: calendar;
        width: 22rem;
        height: 20rem;
        margin: 0.5rem 1rem 0 0;
        padding: 1rem;
        color: var(--FirstColor);
        background-color: var(--SecondaryBackground);
        border-radius: 1rem;
    }
    .dailyTasks {
        grid-area: dailyTasks;
        width: 22rem;
        height: 20rem;
        margin: 0.5rem 1rem 0 0;
        padding: 1rem;
        color: var(--FirstColor);
        background-color: var(--SecondaryBackground);
        border-radius: 1rem;
    }
    .projects {
        grid-area: projects;
        width: 22rem;
        height: 20rem;
        margin: 0.5rem 1rem 0 0;
        padding: 1rem;
        color: var(--FirstColor);
        background-color: var(--SecondaryBackground);
        border-radius: 1rem;
    }
    .otherTasks {
        grid-area: otherTasks;
        width: 22rem;
        height: 20rem;
        margin: 0.5rem 1rem 0 0;
        padding: 1rem;
        color: var(--FirstColor);
        background-color: var(--SecondaryBackground);
        border-radius: 1rem;
    }
    .weeklyTasks {
        grid-area: weeklyTasks;
        width: 22rem;
        height: 20rem;
        margin: 0.5rem 1rem 0 0;
        padding: 1rem;
        color: var(--FirstColor);
        background-color: var(--SecondaryBackground);
        border-radius: 1rem;
    }
    .performance {
        grid-area: performance;
        width: 22rem;
        height: 20rem;
        margin: 0.5rem 1rem 0 0;
        padding: 1rem;
        color: var(--FirstColor);
        background-color: var(--SecondaryBackground);
        border-radius: 1rem;
    }
    
}